@page "/MarkerView"

<div class="row">
    <MarkerView @ref="_markerView" Src="_content/Markerjs.Blazor/test.jpg" Class="img-fluid" Style="max-width:50%;" JsonText="@JsonText" />
</div>

<hr />

<div class="row pb-3" style="padding: 0 10px;">
    <textarea rows="3" @bind="@JsonText" />
    <button @onclick="ToggleMarkers">
        ToggleMarkers
    </button>
</div>

@code {
    private string? JsonText { get; set; }
    private MarkerView? _markerView { get; set; }
    public async void ToggleMarkers()
    {
        await _markerView?.ToggleMarkers();
        await InvokeAsync(StateHasChanged);
    }
}